<div class="position-relative">
  <span class="text-center"><h1> <%= t('.header') %> < <%= @badge.name %> ></h1></span>
  <%= render 'form' %>
  <p class="text-center">
    <%= link_to t('.back'), admin_badges_path%>
  </p>
</div>
