<div class="position-relative">
  <span class="text-center"><h1>Edit badge < <%= @badge.name %> ></h1></span>
  <%= render 'form' %>
  <p class="text-center">
    <%= link_to 'back', admin_badges_path%>
  </p>
</div>
