<tr>
  <td><%= user_achieved.user.name %>,  < <%= user_achieved.user.email%> > </td> 
  <td class="text-center"><%= image_tag(user_achieved.badge.picture, size: "50x50", class: "rounded-circle border border-2 border-info bg-warning") %></td>
  <td class="text-center"> <%= user_achieved.badge.name %></td> 
  <td></td>
</tr>
