<tr>
  <td class="text-center align-middle">
    <%= image_tag(badge.picture, size: "50x50", class: "rounded-circle border border-2 border-info bg-warning") %>
  </td> 
  <td class="text-center align-middle"><%= badge.name %></td>
  <td class="text-center align-middle"> <%= badge.rule.name %></td> 
</tr>


