<div class="footer-text"
  <p>&copy; <%= date_year %>, <%= github_url('Denis Toritsyn', 'TestGuru') %> - сборник тестов для тренировки мозга. Учебный проект в онлайн-школе 
  <%= link_to 'Thinknetica', 'http://www.thinknetica.com', rel: 'nofollow noopener', target: '_blank' %></p>
</div>
