<div class = 'nav'>
  <%= link_to "Edit", edit_admin_question_path(@question) unless params[:action] == 'edit'%> 
  <%= link_to 'Delete', admin_question_path(@question), method: 'delete', data: {confirm: "Are you shure?"} %> 
  <%= link_to 'List questions', admin_test_path(@question.test) %>
</div>
