
<ul class = 'nav nav-pills justify-content-left'>
  <li class="nav-item">
    <div class='nav-link'>  <%= link_to t('nav.edit'), edit_admin_question_path(@question) unless params[:action] == 'edit'%></div>
  </li>
  <li class="nav-item">
    <div class='nav-link'><%= link_to t('nav.del'), admin_question_path(@question), method: 'delete', data: {confirm: "Are you shure?"} %>  </div>
  </li>
  <li class="nav-item">
    <div class='nav-link'><%= link_to t('nav.list_q'), admin_test_path(@question.test) %></div>
  </li>
</ul>
