.flash {
  width: max-content;
  height: max-content;
  padding: 5px 5px;
  border-radius: 10px;
}

.flash.alert {
  margin: -5px;
  background: #eb8e43;  
  border-style: solid;
  border-color: #ee2727;
}

.flash.notice {
  margin: -5px;
  background: #98ec90;  
  border-style: solid;
  border-color: #025826;
}
