.conteiner-bar {
  background-color: rgb(120, 120, 120);
  width: 300px;
  border: 2px;
  border-style: solid;
  border-color: aquamarine;
}

.progressbar {
  background: rgb(0, 207, 0);
  text-align: center;
  width: 0%;
}
