// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.result_test{
  font-size: 12pt;
  font-weight: bold;
}

.done{
  color: green;
  display:inline-block
}

.failure{
  color: red;
  display:inline-block
}
