<h1>List of Tests</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>    
    <th colspan = '4'> Actions </th>
  </tr> 
  <%= render @tests %>
</table>

<p>
  <%= link_to 'Create new Test', new_admin_test_path %> 
</p>
